@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*,
*::after,
*::before {
    /*     margin: 0;
    padding: 0; */
    box-sizing: border-box;
    -webkit-box-sizing: -webkit-border-box;
}

body {
    background-color: black;
    /* max-width: 900px; */
    overflow: hidden;
}

#controls {
    width: 100%;
}

#recordButton {
    width: 100%;
    height: 500px;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
}

#loading {
    position: absolute;
    top: 35%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: -150px 0 0 -150px;
    border-radius: 100%;
    /*   overflow: hidden; */
    cursor: pointer;
    transform: scale(0.6667);
}

.outer-shadow,
.inner-shadow,
#timer {
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.inner-shadow {
    top: 50%;
    left: 50%;
    width: 260px;
    height: 260px;
    margin: 0 auto;
    margin-left: -130px;
    margin-top: -130px;
    border-radius: 100%;
    background-color: red;
    border: 20px solid black;
}

#timer {
    z-index: 1;
    box-shadow: none;
}

.hold {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 300px, 300px, 150px);
    border-radius: 100%;
    background-color: #fff;
}

.full-circ,
.dot span {
    background-color: red;
}

.full-circ {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px, 150px, 300px, 0px);
}

.left .full-circ {
    z-index: 1;
    /*   z-index: 3; */
    animation: left 10s linear both;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 90px;
    border-radius: 100%;
    /* hide until user clicks button */
    display: none;
}

.right {
    z-index: 3;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    border-bottom-left-radius: 1px;
    border-top-left-radius: 80px;
    /*  transition: all 4s ease; */
}

.right .full-circ {
    animation: right 10s linear both;
    animation-delay: 10s;
    border-radius: 100%;
    /* hide until user clicks button */
    display: none;
}


/* Text */

#form {
    display: block;
    text-align: center;
    margin: 0 auto;
    /* width: 50%; */
    width: 10%;
}

#form input {
    width: 100% !important;
}

input {
    background: white;
    border: 1px solid;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}

.btn {
    display: block;
    margin-top: 5%;
    text-align: center;
}

.start-txt {
    margin: 1.91em;
}

.stop-txt {
    margin: 2.16em;
}

.start-txt,
.stop-txt {
    margin-top: 2.2em;
    font-size: 48px;
}

.success-txt {
    color: green !important;
    font-size: 18px;
    display: none;
    font-size: 28px;
    margin: 12em auto;
    transition: 0.6s ease-in-out;
}

.start-txt,
.stop-txt,
.notice-txt,
.success-txt {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: black;
    position: absolute;
    z-index: 11;
    text-align: center;
    transition: 0.6s ease-out;
}

.btnDisabled {
    display: none !important;
}

.notice-txt {
    color: white;
    font-size: 28px;
    margin: 12em auto;
}

.start-txt,
.stop-txt,
.notice-txt {
    display: none;
}

@keyframes left {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes right {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@media only screen and (max-device-width: 768px) {
    #form {
        width: 15%;
    }
}

@media only screen and (max-device-width: 500px) {
    #form {
        width: 30%;
    }
}